#!/bin/bash
DIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd );
export REDIS_URL=localhost:6379
#server1
export SERVER="server1"
export PORT="8082"
pm2 start --name server1 $DIR/../app.js
#server2
export SERVER="server2"
export PORT="8084"
pm2 start -f --name server2 $DIR/../app.js
