#!/bin/bash
DIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd );
export REDIS_URL=localhost:6379
export SERVER="server1"
export PORT="8082"
pm2 start --name server $DIR/../app.js

export SERVER="server2"
export PORT="8084"
pm2 start --name server $DIR/../app.js
